.translate-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.translate-container-fluid{
    padding: 40px;
    max-width: 1500px;
}

.translate-boxes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
}

.box{
    margin: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    position: relative;
    font-family: Montserrat;
    transition:all .6s;
}
.box .bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 250px;
    height: 150px;
    -webkit-clip-path: polygon(0% 0%, 59% 0%, 61% 9%, 58% 17%, 53% 22%, 48% 27%, 43% 30%, 37% 32%, 34% 38%, 32% 41%, 28% 45%, 26% 46%, 22% 48%, 17% 49%, 14% 50%, 0% 51%, 0% 51%, 0 51%, 0 40%, 0 27%);
    clip-path: polygon(0% 0%, 59% 0%, 61% 9%, 58% 17%, 53% 22%, 48% 27%, 43% 30%, 37% 32%, 34% 38%, 32% 41%, 28% 45%, 26% 46%, 22% 48%, 17% 49%, 14% 50%, 0% 51%, 0% 51%, 0 51%, 0 40%, 0 27%);
    background-color: #e7f7db;
    opacity: .5;
    transition:all .6s;

}
.box .bg-2{
    background-color: #f4e8d3;

}
.box:hover{
    transform: translateY(-25px);
    cursor: pointer;
}
.box:hover .bg{
    width: 300px;
    height: 200px;

}

@media screen and (max-width:1000px) {
    .translate-container-fluid{
        padding: 20px;
    }
    .translate-boxes{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}
@media screen and (max-width:800px) {

   
}